<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Just Tech News</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<article class="post" th:fragment="post-fragment">
    <div class="title">
        <a th:href="@{ ${post.postUrl} }" target="_blank">[[${post.title}]]</a>
        <span class="url-text">
            [[${post.postUrl}]]
        </span>

        <div class="meta">
            [[${post.voteCount}]]
            <span th:text="${post.voteCount == 1} ? ' point ' : ' points '"></span>
            by [[${post.username}]] on
            <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
            |
            <a th:href="@{/post/{id}(id=${post.id})}">
                [[${post.comments.size()}]][[${post.comments.size() == 1} ? ' comment ' : ' comments ']]
            </a>
        </div>

    </div>
</article>




</body>