<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Single-post</title>
</head>

<body>

<div layout:fragment="content">

  <div th:if="${notice}" class="flash-message">
    <h3>[[${notice}]]</h3>
  </div>

  <div class="mb-5" th:insert="fragments/post-fragment :: post-fragment"></div>


  <form th:if="${loggedIn}" action="#" th:action="@{/comments}" th:object="${comment}" method="post" class="comment-form">
    <div>
      <input type="hidden" th:value="${post.id}" name="postId"/>
      <textarea name="comment-body" th:field="*{commentText}"
      placeholder="Type your comment here..."></textarea>
    </div>

    <div>
      <button class="btn btn-primary" type="submit">Add Comment</button>
      <button type="button" class="btn btn-success upvote-btn">Upvote</button>
    </div>
  </form>

  <div class="comments">
    <div th:insert="fragments/comment-fragment :: comment-fragment"></div>
  </div>
  <div th:if="${loggedIn}">
    <script src="/js/upvote.js"></script>
  </div>

</div>

</body>
</html>